<div class="w-100" id="footer-zone">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-white">© 2024 Adrian Rojo</p>
  
      <a href="https://www.facebook.com/casinocentralmdq/?locale=es_LA" target="_blank" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="./assets/logo.png" alt="logo">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-between">
        <li class="nav-item"><a class="nav-link px-2 text-white">Dirección: Av. Patricio Peralta Ramos 2148, B7600 Mar del Plata, Provincia de Buenos Aires</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-white">Teléfono: 0223 495-7011</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-white">Inauguración: 22 de diciembre de 1939</a></li>
      </ul>
    </footer>
  </div>
